.skils{
    width: 90%;
    margin: auto;
    display: flex;
    flex-direction: column;
    font-family: 'Raleway', sans-serif;
    margin-bottom: 10%;
}
.skils-title {
    font-size: 35px;
    text-align: center;
    color: rgb(172, 121, 129);
    border-bottom: 2px solid pink;
    margin: 3% 0 0 0;
}
.skils-box > h2 {
    color: rgb(147, 88, 98);
    font-size: 30px;
    margin: 2% 0 0 0;
}
.skils-box > p {
    font-size: 18px;
    color: rgb(126, 75, 81);
    margin: 20px 0;
}